@import url(http://fonts.googleapis.com/css?family=Antic+Slab);
.cover {
    visibility: hidden;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: arial,sans-serif;
    min-width: 1000px;
    overflow-x: auto;
    overflow-y: hidden;
}

.c4mblue { color: #399fd3; }
.c4mred { color: #cf1b41; }

.lead {
    font-family: 'Open Sans',sans-serif;
    color: #555555;
    font-size:28px;
    margin:1% auto;
}

.row {
    margin-top: 3%;
    margin-bottom: 3%;
}

.header-small {
    font-family: 'Open Sans',sans-serif;
    font-weight: 200;
    color: #999999;
    font-size: 28px;
    font-style: normal;
    padding: 0 auto;
    margin: 0 auto;
}

.btn-primary1 {
    color: rgb(68, 68, 68);
    border-color: rgba(0, 0, 0, 0.1);
    background-color:rgb(245, 245, 245);
}

.page-header1 {
    border-bottom: 1px solid #eeeeee;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: rgb(68, 68, 68);
    font-size:45px;
    margin: 0 20px 20px 20px;
}

.container {
    max-width:100%;
    padding:0;

}
.container-full {
    margin: 0 auto;
    width: 100%;
    height:100%;
    min-width:900px;
    min-height:600px;
    background-color:#fff;
    color:#eee;
    overflow:hidden;
    text-align: center;
}


/*
    Styling for repsView collapsable list-groups
*/
.rep-panel {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 8px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-color: #dddddd;
}

.rep-panel > .rep-panel-heading {
    font-family: 'Open Sans',sans-serif;
    font-size:40px;
    font-weight: 300;
    padding: 10px 15px;
    color: dodgerblue;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.rep-list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.rep-list-group-item {
    position: relative;
    display: block;
    padding-left: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
}

.rep-img {
    vertical-align: top;
    border-radius: 6px;
    max-height: 180px;
    max-width: 180px;
}

.rep-icon {
    vertical-align: top;
    border-radius: 6px;
    font-size:140px;
    padding-bottom: 15px;

}

select {
    -webkit-appearance: none !important;

    background-position-x: 97%;
    background-position-y: center;
    border: 1px solid #cccccc;
    padding: 0.5rem;
    font-size: 0.875rem;
    -webkit-border-radius: 0;
    border-radius: 0;
}

select:hover {

    background-position-x: 97%;
    background-position-y: center;
    border-color: #999999; }

.form-font {
    font-family: 'Open Sans',sans-serif;
    font-size:21px;
    font-weight: 200;
    height: 45px;
}


.contact-info {
    display:inline-block;
    padding-top: 15px;
    padding-left: 40px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.428571429;
}